{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock head_stylesheet %}
{% bootstrap_form_errors form error_types="non_field_errors" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">Cadastrar Produto</h1>
      </div>
    </div>
  </div>
  <div class="row list">
    <div class="col">
      <form class="form" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form error_types="all" %}
          {{ form.non_field_errors.as_text }}
          {{ itens.non_field_errors.as_text }}

            <div class="form-row">
                 <div class="col-3">
                  {% bootstrap_field form.tipo_produto required_css_class="required" %}
                </div>
                <div class="col-3">
                  {% bootstrap_field form.fornecedor required_css_class="required" %}
                </div>
                <div class="col-3">
                  {% bootstrap_field form.descricao required_css_class="required" %}
                </div>
                 <div class="col-3">
                  {% bootstrap_field form.valor required_css_class="required" %}
                </div>
            </div>
          <div class="componentes-produto">
              <h4>Inversor</h4>
              <div class="form-row">
                <div class="col-4">
                  {% bootstrap_field form.quantidade_inversor required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.marca_inversor required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.potencia_inversor required_css_class="required" %}
                </div>
              </div>
              <h4>Placas</h4>
              <div class="form-row">
                <div class="col-4">
                  {% bootstrap_field form.quantidade_placa required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.marca_placa  required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.potencia_placa  required_css_class="required" %}
                </div>
              </div>
          </div>
            <button type="button" id="distribuir" class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal">Distribuir Preços</button>
          <div class="form-row">
            <div>
                <button type="button" id="btn-plus" class="btn btn-info btn-sm">Adicionar Item</button>
            </div>
          </div>
          <div class="ident">
              <div class="form-row">
                <div class="col-4" id="tipo_item">
                  {% bootstrap_field itens.tipo_item required_css_class="required" %}
                </div>
                <div class="col-4" id="descricao_item">
                  {% bootstrap_field itens.descricao_item required_css_class="required" %}
                </div>
                <div class="col-4" id="potencia">
                  {% bootstrap_field itens.potencia required_css_class="required" %}
                </div>
              </div>
              <div class="form-row">
                <div class="col-4" id="quantidade">
                  {% bootstrap_field itens.quantidade required_css_class="required" %}
                </div>
                <div class="col-4" id="marca">
                  {% bootstrap_field itens.marca required_css_class="required" %}
                </div>
                  <div class="col-3" id="valor_item">
                  {% bootstrap_field itens.valor_item required_css_class="required" %}
                </div>
                  <div class="col-1">
                      <button class="btn btn-link" id="btn-remove" type="button" style="display: inline-block;">
                        <span class="mdi mdi-delete mdi-24px"></span>
                      </button>
                  </div>
              </div>
          </div>
           <div class="form-row">
            <div>
                <button type="button" id="btn-add" class="btn btn-info btn-sm">Adicionar Item</button>
            </div>
          </div>
          <br>
          <!-- Modal responsável pelo percentual de valor dos itens -->
            <div id="myModal" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Distribuir Preços</h3>
                  </div>
                  <div class="modal-body">
                    <h5>Percentuais relativos aos componentes</h5><br>
                    <div class="form-row">
                        <div class="col-6">
                          {% bootstrap_field form.percentual_inversores required_css_class="required" %}
                        </div>
                        <div class="col-6">
                          {% bootstrap_field form.percentual_placas required_css_class="required" %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                          {% bootstrap_field form.porcentagem_servico_produto required_css_class="required" %}
                        </div>
                        <div class="col-6">
                          {% bootstrap_field form.porcentagem_estrutura_produto required_css_class="required" %}
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
          <!-- Fim do modal !-->
            <div class="form-row">
              <div class="form -btn-actions col">
                <button class="btn btn-success mr-2">Salvar</button>
                <a href="{% url 'produtos:produto_index' %}" class="btn">Cancelar</a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/produto.js' %}" charset="utf-8"></script>
{% endblock extra_js %}