{% extends "clientes/base.html" %}
{% load humanize %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h2 class="title">{{ page_title }}: {{ produto.id }}</h2>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Código:</strong><br> {{ produto.codigo|default:"Não informado" }}</td>
            <td><strong>Tipo do Produto:</strong><br> {{ produto.tipo_produto|default:"Não informado" }}</td>
            <td><strong>Fornecedor:</strong><br> {{ produto.fornecedor|default:"Não informado" }}</td>
            <td><strong>Valor do Produto:</strong><br>R$ {{ produto.valor|intcomma|default:"Não informado" }}</td>
            <td><strong>Descrição:</strong><br> {{ produto.descricao|default:"Não informado" }}</td>
            {% if produto.tipo_produto.descricao == "Gerador" %}
              <td><strong>Potência:</strong><br> {{ produto.potencia_produto|default:"Não informado" }} KW</td>
            {% endif %}
          </tr>
        </table>
         {% if produto.tipo_produto.descricao == "Gerador" %}
           <h4>Componentes do Gerador</h4>
          <table class="table table-bordered table-striped">
            <tr>
              <td><strong>Tipo:</strong><br> Inversor</td>
              <td><strong>Quantidade:</strong><br> {{ produto.quantidade_inversor|default:"Não informado" }}</td>
              <td><strong>Marca:</strong><br> {{ produto.marca_inversor|default:"Não informado" }}</td>
              <td><strong>Potência:</strong><br> {{ produto.potencia_inversor|default:"Não informado" }} KW</td>
               <td><strong>Valor:</strong><br> R$ {{ produto.valor_inversores|intcomma|default:"Não informado" }} ({{ produto.percentual_inversores|floatformat:0|intcomma}}%)</td>
            </tr>
            <tr>
              <td><strong>Tipo:</strong><br> Placas</td>
              <td><strong>Quantidade:</strong><br> {{ produto.quantidade_placa|default:"Não informado" }}</td>
              <td><strong>Marca:</strong><br> {{ produto.marca_placa|default:"Não informado" }}</td>
              <td><strong>Potência:</strong><br> {{ produto.potencia_placa|default:"Não informado" }} W</td>
              <td><strong>Valor:</strong><br> R$ {{ produto.valor_placas|intcomma|default:"Não informado" }} ({{ produto.percentual_placas|floatformat:0|intcomma}}%)</td>
            </tr>
          {% endif %}
          {% if produto.tipo_produto.descricao != 'Avulso' %}
            <tr>
              <td><strong>Percentual Est. Metalica:</strong><br>{{ produto.porcentagem_estrutura_produto|default:"Não informado" }} %</td>
              <td><strong>Valor Est. Metalica:</strong><br> R$ {{ produto.valor_est_metalica|intcomma|default:"Não informado" }} </td>
              <td><strong>Percentual Serviço:</strong><br>{{ produto.porcentagem_servico_produto|default:"Não informado" }} %</td>
              <td colspan="2"><strong>Valor Serviço:</strong><br>R$ {{ produto.valor_servico|intcomma|default:"Não informado" }}</td>
            </tr>
          {% endif %}
        </table>
        {% if itens %}
          <h4>Itens do Produto</h4>
          <table class="table table-bordered table-striped">
            <th>Ações</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Potência</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Valor Unitário</th>
            {% for item in itens %}
              <tr>
                <td>
                  <a class="btn-magnify" href="{% url 'produtos:itens_edit' item.pk %}" title="Editar">
                      <span class="mdi mdi-pencil mdi-18px"></span>
                  </a>
                </td>
                <td>{{ item.descricao_item|default:"Não informado" }}</td>
                <td>{{ item.tipo_item|default:"Não informado" }}</td>
                <td>{{ item.marca|default:"Não informado" }}</td>
                <td>{{ item.potencia|default:"Não informado" }} KW</td>
                <td>{{ item.quantidade|default:"Não informado" }}</td>
                <td>R$ {{ item.valor_item|default:"Não informado" }}</td>
                <td>R$ {{ item.valor_unitario|default:"0" }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'produtos:produto_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}