{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto_edit.css' %}">
{% endblock head_stylesheet %}
{% bootstrap_form_errors form error_types="non_field_errors" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">Editar Produto</h1>
      </div>
    </div>
  </div>
  <div class="row list">
    <div class="col">
      <form class="form" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form error_types="all" %}
          {{ form.non_field_errors.as_text }}
          {{ itens.non_field_errors.as_text }}
            <div class="form-row">
                 <div class="col-3">
                  {% bootstrap_field form.tipo_produto required_css_class="required" %}
                </div>
                <div class="col-3">
                  {% bootstrap_field form.fornecedor required_css_class="required" %}
                </div>
                <div class="col-3">
                  {% bootstrap_field form.descricao required_css_class="required" %}
                </div>
                 <div class="col-3">
                  {% bootstrap_field form.valor required_css_class="required" %}
                </div>
            </div>
          {% if produto.tipo_produto.descricao == "Gerador" %}
          <div class="componentes-produto">
              <h4>Inversor</h4>
              <div class="form-row">
                <div class="col-4">
                  {% bootstrap_field form.quantidade_inversor required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.marca_inversor required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.potencia_inversor required_css_class="required" %}
                </div>
              </div>
              <h4>Placas</h4>
              <div class="form-row">
                <div class="col-4">
                  {% bootstrap_field form.quantidade_placa required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.marca_placa  required_css_class="required" %}
                </div>
                <div class="col-4">
                  {% bootstrap_field form.potencia_placa  required_css_class="required" %}
                </div>
              </div>
          </div>
          {% endif %}
            <div class="form-row">
              <div class="form -btn-actions col">
                <button class="btn btn-success mr-2">Salvar</button>
                <a href="{% url 'produtos:produto_index' %}" class="btn">Cancelar</a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/produto_edit.js' %}" charset="utf-8"></script>
{% endblock extra_js %}