{% extends "clientes/base.html" %}
{% load humanize %}
{% load l10n %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

{% endblock head_stylesheet %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">{{ page_title }}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- search form -->
      <form class="form form-flex form-search-cerin">
        {% bootstrap_form form %}
        <div class="form-group">
          <div id="general-search-button"></div>
        </div>
      </form>
    </div>
  </div>
  <div id="messageDelete" class="alert alert-success" role="alert">
    Produto excluido!
  </div>
      <table id="produtos" class="table table-bordered table-striped" data-toggle="table" style="width:100%">
        <thead>
          <th>Ações</th>
          <th data-field="codigo" data-sortable="true">Código</th>
          <th data-field="fornecedor" data-sortable="true">Fornecedor</th>
          <th data-field="tipo" data-sortable="true">Tipo</th>
          <th data-field="preco" data-sortable="true" data-sorter="sort_diero">Preço</th>
          <th data-field="descricao" data-sortable="true">Descrição</th>
        </thead>
        <tbody>
          {% for produto in object_list %}
            <tr>
              <td>
                <a class="btn-magnify" href="{% url 'produtos:produto_show' produto.pk %}" title="Ver detalhes">
                  <span class="mdi mdi-magnify mdi-18px"></span>
                </a>
                <a class="btn-magnify" href="{% url 'produtos:produto_edit' produto.pk %}" title="Editar">
                  <span class="mdi mdi-pencil mdi-18px"></span>
                </a>
                <a class="btn-magnify" href="javascript:produtoDelete({{produto.pk}});" title="Excluir">
                  <span class="mdi mdi-delete mdi-18px"></span>
                </a>
              </td>
              <td>{{ produto.codigo }}</td>
              <td>{{ produto.fornecedor }}</td>
              <td>{{ produto.tipo_produto }}</td>
              <td>R$ {{ produto.valor|intcomma  }}</td>
              <td>{{ produto.descricao|default:"Não informado" }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <!-- Modal responsável pela confirmação
        da exclusão de um produto -->
        <div id="myModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Você tem certeza que deseja excluir permanentemente esse produto?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="excluirProduto" class="btn btn-primary">Excluir</button>
              </div>
            </div>
          </div>
        </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script>
  $('#messageDelete').hide();
  function produtoDelete(pk){
    $('#myModal').modal('toggle')
    $( "#excluirProduto" ).click(function() {
      $.ajax({
        url: '/produtos/produto/'+pk+'/excluir',
        success: function(data) {
          location.reload();
        }
      });
    });
  };

   function sort_diero(a, b, rowA, rowB) {
    a = +(a.replace('.', '').replace(',', '.').substring(3));
    b = +(b.replace('.', '').replace(',', '.').substring(3));

    if (a > b) return 1;
    if (a < b) return -1;
    
    return 0;
  }
</script>
{% endblock %}