{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ item.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Descricão:</strong><br> {{ item.descricao_item|default:"Não informado" }}</td>
            <td><strong>Potência:</strong><br> {{ item.potencia|default:"Não informado" }} KW</td>
            <td><strong>Marca:</strong><br> {{ item.marca|default:"Não informado" }}</td>
            <td><strong>Quantidade:</strong><br> {{ item.quantidade|default:"Não informado" }}</td>
          </tr>
        <tr>
            <td><strong>Tipo Item:</strong><br> {{ item.tipo_item|default:"Não informado" }}</td>
            <td><strong>Valor Item:</strong><br> {{ item.valor_item|default:"Não informado" }}</td>
            <td><strong>Valor Unitário:</strong><br> {{ item.valor_unitario|default:"Não informado" }}</td>
            <td><strong>Produto:</strong><br> {{ item.produto|default:"Não informado" }}</td>
        </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'produtos:produto_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}