{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">{{ page_title }}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- search form -->
      <form class="form form-flex form-search-cerin">
        {% bootstrap_form form %}
        <div class="form-group">
          <div id="general-search-button"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <th>Ações</th>
          <th>Potência</th>
          <th>Marca</th>
          <th>Descrição</th>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr>
              <td>
                <a class="btn-magnify" href="{% url 'produtos:itens_edit' item.pk %}" title="Editar">
                  <span class="mdi mdi-pencil mdi-18px"></span>
                </a>
              </td>
              <td>{{ item.potencia }} KW</td>
              <td>{{ item.marca }}</td>
              <td>{{ item.descricao_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
  </div>
 <div class="form-row">
  <div class="form -btn-actions col">
    <a href="{% url 'produtos:produto_index' %}" class="btn btn-default"><< Voltar</a>
  </div>
</div>
</div>
{% include "util/paginator.html" %}
{% endblock %}
