{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock head_stylesheet %}
{% bootstrap_form_errors form error_types="non_field_errors" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">Editar Item</h1>
      </div>
    </div>
  </div>
  <div class="row list">
    <div class="col">
      <form class="form" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form error_types="all" %}
          {{ form.non_field_errors.as_text }}
          {{ itens.non_field_errors.as_text }}
             <div class="ident">
              <div class="form-row">
                <div class="col-4" id="tipo_item">
                  {% bootstrap_field form.tipo_item required_css_class="required" %}
                </div>
                <div class="col-4" id="descricao_item">
                  {% bootstrap_field form.descricao_item required_css_class="required" %}
                </div>
                <div class="col-4" id="potencia">
                  {% bootstrap_field form.potencia required_css_class="required" %}
                </div>
              </div>
              <div class="form-row">
                <div class="col-4" id="quantidade">
                  {% bootstrap_field form.quantidade required_css_class="required" %}
                </div>
                <div class="col-3" id="marca">
                  {% bootstrap_field form.marca required_css_class="required" %}
                </div>
                <div class="col-3" id="porcentagem_valor_produto">
                  {% bootstrap_field form.valor_item required_css_class="required" %}
                </div>
              </div>
              <br>
          </div>
            <div class="form-row">
              <div class="form -btn-actions col">
                <button class="btn btn-success mr-2">Salvar</button>
                <a href="{% url 'produtos:itens_index' %}" class="btn">Cancelar</a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
{% endblock extra_js %}