{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ cliente.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Nome:</strong><br> {{ cliente.nome|default:"Não informado" }}</td>
            <td><strong>Und. Consumidora:</strong><br> {{ cliente.cod_uc|default:"Não informado" }}</td>
            <td><strong>Telefone:</strong><br> {{ cliente.telefone|default:"Não informado" }}</td>
            <td><strong>Email:</strong><br> {{ cliente.email|default:"Não informado" }}</td>
          </tr>
          <tr>
            <td><strong>Endereço:</strong><br> {{ cliente.logradouro|default:"Não informado" }}</td>
            <td><strong>Número:</strong><br> {{ cliente.numero|default:"Não informado" }}</td>
            <td><strong>Complemento:</strong><br> {{ cliente.complemento|default:"Não informado" }}</td>
            <td><strong>CEP:</strong><br> {{ cliente.cep|default:"Não informado" }}</td>
          </tr>
          <tr>
            <td><strong>Cidade:</strong><br> {{ cliente.cidade|default:"Não informado" }}</td>
            <td><strong>Bairro:</strong><br> {{ cliente.bairro|default:"Não informado" }}</td>
            <td><strong>UF:</strong><br> {{ cliente.uf|default:"Não informado" }}</td>
            <td><strong>Consumo:</strong><br> {{ cliente.consumo|default:"Não informado" }} kWh/mês</td>
          </tr>
          <tr>
            <td><strong>Rede:</strong><br> {{ cliente.rede|default:"Não informado" }}</td>
            <td><strong>Regiao:</strong><br> {{ cliente.regiao|default:"Não informado" }}</td>
            <td colspan="2"></td>

          </tr>
          <tr>
             <td colspan="6"><strong>Observações:</strong><br> {{ cliente.observacoes|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'clientes:cliente_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}