{% load static bootstrap3 core %}
{% bootstrap_form_errors form error_types="non_field_errors" %}
{{ form.errors }}
<div class="form-row">
  <div class="col-6">
    {% bootstrap_field form.nome required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.telefone required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.email required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form.cep required_css_class="required" %}
  </div>
  <div class="col-5">
    {% bootstrap_field form.logradouro required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.numero required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.complemento required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-5">
    {% bootstrap_field form.cidade required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.bairro required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.uf required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form.cod_uc required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.consumo required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.rede required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.regiao required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.tarifa required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-12">
    {% bootstrap_field form.observacoes required_css_class="required" %}
  </div>
</div>