/* Utilitarios
====================*/

.boolean_status.-encerrada,
.boolean_status.-carta-resposta-impressa {
  background-color: rgba(46, 204, 113, 0.2);
  border-color: rgba(46, 204, 113, 1);
}

.boolean_status.-aberta,
.boolean_status.-encaminhada { /* Amarelo */
    background: rgba(241, 196, 15, 0.2);
    border-color: rgb(241, 196, 15);
}

.boolean_status.-em-analise,
.boolean_status.-em-andamento { /* Azul */
    background: rgba(52, 152, 219, 0.2);
    border-color: rgb(52, 152, 219);
    color: rgb(40, 122, 177);
}

.boolean_status.-setor-atual { /* Laranja */
    background: rgba(204, 112, 46, 0.2);
    border-color: rgb(204, 126, 46);
    color: rgb(49, 49, 49);
}

/* Tamanhos de containers
====================*/

.select2-container .select2-selection--single {
  width: 100%!important;
  height: 38px!important;
  padding: .5rem .75rem .5rem .25rem!important;
  font-size: 1rem!important;
  line-height: 34px;
  color: #495057!important;
  border: 1px solid rgba(0,0,0,.15)!important;
  border-radius: .25rem!important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.2!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px!important;
}

.w-65 {
  width: 65%;
}

.tab-pane {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.form-flex.form-search-cerin > .form-group {
  display: block !important;
  flex: none;
  width: 25%;
}

.form-search-cerin .form-group .btn.-search {
  margin-top: 0;
  display: inline-block;
  width: auto;
}
