/*
Página de detalhes
====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
html{
    font-family: sans-serif;
}
body{
     font-family: "Poppins", sans-serif;
}
.sidebar {
  background-color: #111;
  /*height: 100%;*/
  /*margin-left: -15px;*/
  /*padding: 15px;*/
}

.sidebar .header a {
  color: #AAA;
  text-decoration: none;
  padding: 15px;
  display: block;
}

/* Sidebar Header */
.sidebar .header a h1 {
  font-size: 1.5em;
}

/* Sidebar Menu */
.sidebar .menu {
  padding: 0;
}

/* Sidebar Menu Module */
.sidebar .menu .module {
  position: relative;
  padding: 15px;
  display: inline-block;
}

.sidebar .menu .module.-logout {
  color: #dc3545
}

.sidebar .menu .module,
.sidebar .menu li {
  display: block;
}

.sidebar .menu .module,
.sidebar .menu a {
  color: #BBB;
  text-decoration: none;
  padding: 10px 15px;
}

.sidebar .menu .module .active,
.sidebar .menu a.active {
  border-left: 4px solid #ffcc29;
  color: #ffcc29;
}

.sidebar .menu a .hide-menu {
  margin: 6px;
  position: absolute;
}

/* Sidebar Menu Module Items */
.sidebar .menu .module-items {
  padding: 0;
}

.sidebar .menu .module-items .item a {
  background: #393939;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.sidebar .menu .module-items .item a.active {
  border-left: 5px solid rgb(241, 196, 15);
  color: rgb(241, 196, 15);
}

.sidebar .menu .module-items .item a:hover {
  color: rgba(255,255,255,0.3);
}

/* header */
.detail-page .page-title {
  border-bottom: 1px solid #F6F6F6;
  margin-bottom: 15px;
}

.detail-page h2 {
  margin-bottom: 15px;
}

/* lists */
.detail-page .detail-list,
.detail-page .detail-list li {
  display: block;
  margin: 0;
  padding: 0;
}

.detail-page .detail-list {
  margin-bottom: 30px;
}

.detail-page .detail-list > li {
  padding: 5px;
  margin: 0;
}

.detail-page .detail-list > li:nth-child(odd) {
  background: #F6F6F6;
}

.detail-page .detail-list > li:nth-child(even) {
  background: #FFFFFF;
}

.detail-page .detail-list > li label {
  width: 115px;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
  word-wrap: break-word;
}

/* Utilitarios
====================*/
.boolean_status {
  border-left: 2px solid;
  color: #333;
  display: inline-block;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 8px;
  white-space: nowrap;
}

.boolean_status.-S,
.boolean_status.-concluido {
  background-color: rgba(46, 204, 113, 0.2);
  border-color: rgba(46, 204, 113, 1);
}

.boolean_status.-N,
.boolean_status.-cancelado { /* Vermelhor */
  background: rgba(231, 76, 60, 0.2);
  border-color: rgb(231, 76, 60);
}
.boolean_status.-em-andamento,
.boolean_status.-status-pendente { /* Amarelo */
    background: rgba(241, 196, 15, 0.2);
    border-color: rgb(241, 196, 15);
}

.boolean_status.-info { /* Azul */
    background: rgba(52, 152, 219, 0.2);
    border-color: rgb(52, 152, 219);
    color: rgb(40, 122, 177);
}

/* Botões
====================*/
.btn,
.btn.btn-success,
.btn.btn-warning,
.btn.btn-danger {
  border-radius: 0;
}

.btn-search,
.btn-magnify {
  color: #000;
}


/* Formulários
====================*/

.form.form-flex {
    display: block;
    margin-bottom: 15px;
}

.form-flex .input-flex {
    display: inline-block;
    width: 100%;
}

.form-flex .input-flex .error {
    width: 100%;
    display: inline-block;
    color: #d43f3a;
}

.form-group .btn.-search {
    margin-top: 25px;
}

.form.form-flex .alert {
    flex: 0 0 100%;
}


.form .form-group.required .control-label::before {
  content: '*';
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: red;
}

.form .control-label::before ~ .form-control[required]  {
  content: '*';
  display: inline-block;
  font-size: 15px;
  color: blue;
}


.form.-upload .form-group > div.bootstrap3-multi-input.row {
  margin: 0 !important;
}

/* Ações do formulário
====================*/

.form.-btn-actions a.btn {
  background: #dddddd;
  color: #222;
}

/* Errors
====================*/
.alert-danger {
    /*background: #f33131;
    color: #fff;
    border-color: #f33131;*/
}

.form.form-flex .has-error input,
.form.form-flex .has-error select,
.form.form-flex .has-error textarea,
.form.form-flex .has-error .form-control {
  border: 1px solid #f33155;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio, .has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #a94442;
}


/* Página de login
====================*/
.login-box > .row {
  height: 500px;
  height: 85vh;
}

.login-box .page-logo {
  text-align: center;
  margin-bottom: 15px;
}


#sidebar .page-logo {
  text-decoration: none;
}

/* Responsividade
====================*/
@media screen and (min-width: 768px) {

    .form.form-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .form-flex .form-group {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 3.5px;
    }
    .form-flex .description {
        -webkit-flex: 2;
        flex: 4;
    }
}

/* DEBUG
====================*/

.alert-debug {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: red;
  color: white;
  position: fixed;
  z-index: 9999;
}

.wrapper-debug {
  padding-top: 40px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f8f9;
}

.table-hover tbody tr:hover {
  background-color: #f2f8f9;
 }

/*.footer {
  background: #00ce681a;
  padding: 20px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  border-top: 1px solid #f2f2f2;
  font-size: calc(13px - 0.05rem);
  font-family: "Poppins", sans-serif;
}*/