{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h2 class="title">Gerar Orçamento Simples</h2>
      </div>
    </div>
  </div>
  <div class="row list">
    <div class="col">
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-row">
             <div class="col-5">
              {% bootstrap_field cliente_form.cliente required_css_class="required" %}
            </div>
            <div class="col-3">
              {% bootstrap_field produto_form.produto required_css_class="required" %}
            </div>
        </div>
        <div class="form-row">
          <div class="form -btn-actions">
            <button class="btn btn-success mr-2" formtarget="_blank">Gerar</button>
            <a href="{% url 'orcamentos:orcamento_index' %}" class="btn">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
