{% load static %}
{% load humanize %}
{% load index %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/orcamento.css' %}">
{% endblock head_stylesheet %}
<!DOCTYPE html>
<html>
<head>
    <title>Proposta Comercial</title>
    <meta charset="UTF-8">
</head>
<style>
    @font-face {
        font-family: 'Aria Nova';
        font-style: normal;
        font-weight: normal;
        src: local('Arial Nova'), url('{% static 'fonts/ArialNova.woff' %}') format('woff');
    }
    body{
        font-family: 'Aria Nova';
        margin: 0px;
    }

    .container {
        display: inline-block;
        position: relative;
        margin: 0px;
    }

    .dados {
        position: absolute;
        margin: 0px 50px 0px 50px;
        top: 50px;
        font-size: 17px;
        color: #808080;
        width: 700px;
    }

    .tabela-dados {
        width: 100%;
        line-height: 1.492;
        font-size: 20px;
        color: #808080;
        font-weight: bold;
    }

    .titulo {
        margin: 23px 0px 23px 0px;
        font-size: 34px;
        font-weight: bold;
    }

    .dados-item {
        text-align: left;
    }

    .dados-valor {
        text-align: right;
    }

    .detalhes {
        margin: 20px 0px 12px 0px;
        font-size: 10px;
    }

    .grafico {
        margin: 50px -50px 0px -50px;
    }

    .tabela-retorno{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 17px;
        margin-top: 20px;
        color: #505050;
        line-height: 1.6;
    }

    .retorno-cabecalho, th {
        font-size: 20px;
        font-weight: bold;
    }

    .tabela-retorno tr:nth-child(even) {
        background-color: #eaeaea;
    }

    @page {
        margin: 0mm 0mm 0mm 0mm;
    }
     .rodape-capa{
        margin-top: -130px;
        margin-left: 200px;
        font-family: 'Aria Nova';
        font-size: 20px;
        color: #808080;
    }
</style>

<body>
    <div class="container">
        <img src="{% static 'images/CAPA2800x1132.png' %}">
         <div>
            <table class="rodape-capa">
                <tr><td>Cliente: {{cliente.nome}}</td></tr>
                <tr><td>Localidade: {{cliente.regiao}}</td></tr>
            </table>
        </div>
    </div>

    <div class="container">
        <img src="{% static 'images/PAGINA2.1800x1132.png' %}">
    </div>

    <div class="container">
        <img src="{% static 'images/PAGINA3800x1132.png' %}">

        <div class="dados">
            <div class="titulo">Escopo do Projeto</div>

            <table class="tabela-dados">
                <tr>
                    <td class="dados-item">Localidade</td>
                    <td class="dados-valor">{{cliente.cidade}}</td>
                </tr>
                <tr>
                    <td class="dados-item">Produção mensal média estimada</td>
                    <td class="dados-valor">{{cliente.consumo}} KWh/mês</td>
                </tr>
            </table>

            <div class="detalhes">
                * Valor calculado com base na média histórica de radiação solar da região, e sujeito a variação em função das condições climáticas.<br>
                ** A geração não é linear, sofrendo variação nos diferentes meses do ano.
            </div>
            <div class="titulo">Equipamentos</div>

            <table class="tabela-retorno">
                <tr  class="retorno-cabecalho">
                    <th>Tipo</th>
                    <th>Fornecedor</th>
                    <th>Valor</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td>{{produto.tipo_produto}}</td>
                    <td>{{produto.fornecedor}}</td>
                    <td>R$ {{produto.valor}}</td>
                    <td>{{produto.descricao}}</td>
                </tr>
            </table>
             {% if itens %}
                <div class="titulo">Itens do Produto</div>

                <table class="tabela-retorno">
                     <tr class="retorno-cabecalho">
                        <th><strong>Descrição</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Marca</strong></th>
                        <th><strong>Potência</strong></th>
                        <th><strong>Quantidade</strong></th>
                        <th><strong>Valor</strong></th>
                    </tr>
                    {% for item in itens %}
                        <tr>
                            <td>{{item.descricao_item}}</td>
                            <td>{{item.tipo_item}}</td>
                            <td>{{item.marca}}</td>
                            <td>{{item.potencia}}</td>
                            <td>{{item.quantidade}}</td>
                            <td>{{item.valor_item}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <img src="{% static 'images/PAGINA-final800x1132.png' %}">
    </div>
</body>

</html>
