{% load static %}
{% load humanize %}
{% load index %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/orcamento.css' %}">
{% endblock head_stylesheet %}
<!DOCTYPE html>
<html>
<head>
    <title>Proposta Comercial</title>
    <meta charset="UTF-8">
</head>
<style>
    @font-face {
        font-family: 'Aria Nova';
        font-style: normal;
        font-weight: normal;
        src: local('Arial Nova'), url('{% static 'fonts/ArialNova.woff' %}') format('woff');
    }
    body{
        font-family: 'Aria Nova';
        margin: 0px;
    }

    .container {
        display: inline-block;
        position: relative;
        margin: 0px;
    }

    .dados {
        position: absolute;
        margin: 0px 50px 0px 50px;
        top: 50px;
        font-size: 17px;
        color: #808080;
        width: 700px;
    }

    .tabela-dados {
        width: 100%;
        line-height: 1.492;
        font-size: 20px;
        color: #808080;
        font-weight: bold;
    }

    .titulo {
        margin: 23px 0px 23px 0px;
        font-size: 34px;
        font-weight: bold;
    }

    .dados-item {
        text-align: left;
    }

    .dados-valor {
        text-align: right;
    }

    .detalhes {
        margin: 20px 0px 12px 0px;
        font-size: 12px;
    }

    .detalhes1 {
        margin: 20px 0px 12px 0px;
        font-size: 12px;
    }
    .detalhes2 {
        margin-left: 20px;
        font-size: 14px;
    }
    .grafico {
        margin: 50px -50px 0px -20px;
    }

    .tabela-retorno{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 15px;
        margin-top: 50px;
        color: #505050;
        line-height: 1.6;
    }

    .tabela-retorno1{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 15px;
        margin-top: 20px;
        color: #505050;
        line-height: 1.6;
        border: solid 1px;
    }

     .retorno-cabecalho1, th {
        font-size: 16px;
         border: solid 1px;
         border-collapse: collapse;
    }

    .retorno-cabecalho, th {
        font-size: 16px;
    }

    .tabela-retorno tr:nth-child(even) {
        background-color: #eaeaea;
    }

    @page {
        margin: 0mm 0mm 0mm 0mm;
    }
    .rodape-capa{
        margin-top: -130px;
        margin-left: 200px;
        font-family: 'Aria Nova';
        font-size: 20px;
        color: #808080;
    }

    .economia-tabela{
        width: 100px;
        height: 100px;
    }
    .texto-economia-tabela{
        width: 500px;
        text-align: justify;
        margin-top: -120px;
        margin-left: 170px;
    }
    .tabela-info-usuario{
        margin-top: -180px;
        margin-left: 120px;
        font-family: 'Aria Nova';
        font-size: 20px;
        color:#808080;
    }
    .header-ultima-pag{
        width: 80%;
        margin-top: -800px;
    }
    .pag-final-cabecalho{
        margin-top: 20px;
        width: 80%;
        text-align: justify;
        font-size: 20px;
    }
    .pag-final-meio{
        width: 100%;
        text-align: justify;
        font-size: 18px;
    }
    .table-final{
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
        font-align: center;
        font-weight: bold;
        margin-left: 20px;
    }
    .head-final{
        border-style: none;
        border-collapse: collapse;
        font-size: 20px;
        font-align: center;
        font-weight: bold;
    }
</style>

<body>
    <div class="container">
        <img src="{% static 'images/CAPA2800x1132.png' %}">
        <div>
            <table class="rodape-capa">
                <tr><td>Cliente: {{cliente.nome}}</td></tr>
                <tr><td>Localidade: {{cliente.cidade}}</td></tr>
            </table>
        </div>
    </div>

    <div class="container">
        <img src="{% static 'images/PAGINA2.1800x1132.png' %}">
    </div>

    <div class="container">
        <img src="{% static 'images/PAGINA3800x1132.png' %}">

        <div class="dados">
            <div class="titulo">Escopo do Projeto</div>
                <table class="tabela-retorno1">
                      <thead class="retorno-cabecalho1">
                        <th><strong>Localidade</strong></th>
                        <th><strong>Potência do Sistema Fotovoltáico</strong></th>
                        <th><strong>Área ocupada</strong></th>
                        <th><strong>Consumo médio</strong></th>
                        <th><strong>Produção mensal média estimada</strong></th>
                      </thead>
                    <tr>
                      <td class="retorno-cabecalho1">{{ cliente.cidade|default:"Não informado" }}</td>
                       <td class="retorno-cabecalho1">{{ produto.potencia_produto|default:"Não informado" }} KWp</td>
                       <td class="retorno-cabecalho1">{{area}} m²</td>
                        <td class="retorno-cabecalho1"> {{cliente.consumo}} KWh/mês</td>
                        <td class="retorno-cabecalho1">{{producao_estimada}} KWh</td>
                    </tr>
                  </table>
            <div class="detalhes">
                * Valor calculado com base na média histórica de radiação solar da região, e sujeito a variação em função das condições climáticas.<br>
                ** A geração não é linear, sofrendo variação nos diferentes meses do ano.
            </div>

            <div class="titulo">Equipamentos</div>
            {% if produto.tipo_produto.descricao == "Gerador" %}
              <table class="tabela-retorno1">
                  <thead class="retorno-cabecalho1">
                    <th><strong>Descrição</strong></th>
                    <th><strong>Quantidade</strong></th>
                    <th><strong>Valor</strong></th>
                  </thead>
                <tr>
                  <td class="retorno-cabecalho1">Inversor {{produto.marca_inversor|default:"Não informado"}} / {{produto.potencia_inversor|intcomma|default:"Não informado"}} KW</td>
                  <td class="retorno-cabecalho1">{{ produto.quantidade_inversor|default:"Não informado" }}</td>
                   <td class="retorno-cabecalho1"> R$ {{ produto.valor_inversores|intcomma|default:"Não informado" }}</td>
                </tr>
                <tr>
                  <td class="retorno-cabecalho1"> Placas {{produto.marca_placa|default:"Não informado"}} / {{produto.potencia_placa|intcomma|default:"Não informado"}} Wp</td>
                  <td class="retorno-cabecalho1"> {{ produto.quantidade_placa|default:"Não informado"}}</td>
                  <td class="retorno-cabecalho1"> R$ {{ produto.valor_placas|intcomma|default:"Não informado" }}</td>
                </tr>
                <tr>
                  <td class="retorno-cabecalho1"> Estrutura Metálica</td>
                  <td class="retorno-cabecalho1"> {{ produto.estrutura_metalica|default:"Não informado" }}</td>
                  <td class="retorno-cabecalho1"> R$ {{ produto.valor_est_metalica|intcomma|default:"Não informado" }}</td>
                </tr>
                <tr>
                  <td class="retorno-cabecalho1"> Serviço + Projeto</td>
                  <td class="retorno-cabecalho1"> 1 </td>
                  <td class="retorno-cabecalho1"> R$ {{ produto.valor_servico|intcomma|default:"Não informado" }}</td>
                </tr>
                <tr>
                    <td class="retorno-cabecalho1" colspan="1"><strong></strong></td>
                    <td class="retorno-cabecalho1" colspan="2"><strong> R$ {{ produto.valor|intcomma|default:"Não informado" }}</strong></td>
                </tr>
              </table>
            <div class="detalhes1">
                ***Equipamentos poderão ser substituídos, em comum acordo com o cliente,
                a depender da disponibilidade em nosso estoque e disponibilidade do fabricante.
            </div>
              {% endif %}

            <div class="grafico">
                <img src="data:image/png;base64, {{img_grafico}}" width="100%">
            </div>
            <div class="detalhes1">
                *Geração de acordo com os dados solarimetricos, podendo ocorrer variação de acordo
                com o tipo de telhado e local da instalação.
            </div>
        </div>
    </div>
    <div class="container">
        <img src="{% static 'images/PAGINA3800x1132.png' %}">
        <div class="dados">
            <div class="economia-tabela">
                <img src="{% static 'images/image3.png' %}">
                <p class="texto-economia-tabela">
                    Veja abaixo na tabela, a economia proporcionada, quando você instalar seu sistema de energia solar.<br>
                    Ao longo do período de garantia de geração das placas solares, mostramos o quanto de dinheiro
                    você irá poupar.
                </p>
            </div>
            <table class="tabela-retorno">
                <tr class="retorno-cabecalho">
                    <th>Anos</th>
                    <th>Valor Tarifa</th>
                    <th>Produção (KWh/ano)</th>
                    <th colspan="1">Economia Anual</th>
                    <th>Balanço Financeiro</th>
                </tr>
                {% for i in i|rjust:25 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>R$ {{tarifas       |index:forloop.counter0|floatformat:2}}</td>
                        <td>{{energia_anual        |index:forloop.counter0}}</td>
                        <td>R$ {{economia      |index:forloop.counter0|currency}}</td>
                        <td>R$ {{retorno       |index:forloop.counter0|currency}}</td>
                {% endfor %}
            </table>
            <div class="detalhes">
                <p>*A tarifa de energia tem uma taxa de inflação anual de 8% a.a.<br>
                **A produção de energia sofre uma queda de geração de 0,8%, devido as perdas anuais informadas pelo fabricante dos módulos.<br>
                    *** O sistema de energia solar, sua geração e compensação de energia é regulamentado pela resolução 482/2012 da ANEEL.
                </p>
            </div>
        </div>
    </div>
     <div class="container">
        <img src="{% static 'images/PAGINA-final-limpa800x1132.jpg' %}">
         <div class="dados">
             <div class="pag-final-cabecalho">
                 <strong>
                     <p>
                         SEU SISTEMA IRÁ GERAR ENERGIA POR 25 ANOS, JÁ IMAGINOU O TAMANHO
                         DA ECONOMIA QUE ESSE NEGÓCIO VAI TE PROPORCIONAR?
                     </p>
                 </strong>
             </div>
             <div class="pag-final-meio">
                 <h2>Instalação e homologação</h2>
                 <p>
                     Nós cuidamos de todo processo, desde a aprovação na concessionária, como também da instalação.
                     A instalação é simples e não há necessidade de mudança da instalação do imóvel.
                 </p>
                 <h2>Garantias</h2>
                 <table class="table-final">
                     <thead>
                        <th class="head-final">EQUIPAMENTO</th>
                        <th class="head-final">GARANTIA</th>
                     </thead>
                     <tr>
                         <td>Inversores</td>
                         <td>5 anos*</td>
                     </tr>
                      <tr>
                         <td>Microinversores</td>
                         <td>10 anos</td>
                     </tr>
                      <tr>
                         <td>Módulos fotovoltaicos</td>
                         <td>25 anos**</td>
                     </tr>
                      <tr>
                         <td>Instalação</td>
                         <td>2 anos</td>
                     </tr>
                 </table>
                 <div class="detalhes2">
                    <p>
                        (*) Podendo estender por 7/10/15 anos a garantia do inversor.<br>
                        (**) 25 anos de garantia de performance de geração e 10 anos contra defeito de fabricação.
                    </p>
                </div>
                 <h2>Manutenção</h2>
                 <p>
                     A manutenção é simples, basta realizar a limpeza a cada 12 meses dos módulos e verificar as conexões.
                     Caso seja necessário alguma manutenção mais específica, nós realizaremos.
                 </p>
                 <h2>Equipamentos certificados</h2>
             </div>
         </div>
         <table class="tabela-info-usuario">
            <tr>
                {{custom}}
                <td><strong>Contato: {{usuario.first_name}} {{usuario.last_name}}</strong><br>
                    Telefone: {{custom.telefone}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

