{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h2 class="title">{{ page_title }}: {{ fornecedor.id }}</h2>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Nome:</strong><br> {{ fornecedor.nome|default:"Não informado" }}</td>
            <td><strong>Telefone:</strong><br> {{ fornecedor.telefone|default:"Não informado" }}</td>
            <td><strong>Email:</strong><br> {{ fornecedor.email|default:"Não informado" }}</td>
            <td><strong>Contato:</strong><br> {{ fornecedor.contato|default:"Não informado" }}</td>
          </tr>
          <tr>
            <td><strong>Endereço:</strong><br> {{ fornecedor.logradouro|default:"Não informado" }}</td>
            <td><strong>Número:</strong><br> {{ fornecedor.numero|default:"Não informado" }}</td>
            <td><strong>Complemento:</strong><br> {{ fornecedor.complemento|default:"Não informado" }}</td>
            <td><strong>CEP:</strong><br> {{ fornecedor.cep|default:"Não informado" }}</td>
          </tr>
          <tr>
            <td><strong>Cidade:</strong><br> {{ fornecedor.cidade|default:"Não informado" }}</td>
            <td><strong>Bairro:</strong><br> {{ fornecedor.bairro|default:"Não informado" }}</td>
            <td><strong>UF:</strong><br> {{ fornecedor.uf|default:"Não informado" }}</td>
            <td><strong>Tipo do Produto:</strong><br> {{ fornecedor.uf|default:"Não informado" }}</td>
          </tr>
          <tr>
             <td colspan="6"><strong>Observações:</strong><br> {{ fornecedor.observacoes|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'fornecedores:fornecedor_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}