{% load static bootstrap3 core %}

{% bootstrap_form_errors form error_types="non_field_errors" %}

{{ form.media.css }}
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.nome required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.telefone required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.email required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form.cep required_css_class="required" %}
  </div>
  <div class="col-5">
    {% bootstrap_field form.logradouro required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.numero required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.complemento required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-5">
    {% bootstrap_field form.cidade required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.bairro required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.uf required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.contato required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.tipo_produto required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-12">
    {% bootstrap_field form.observacoes required_css_class="required" %}
  </div>
</div>
{{ form.media.js }}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/fornecedor.js' %}" charset="utf-8"></script>
{% endblock extra_js %}