{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/ptoduto.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ usuario.id }}</h1>
          <div class="action-bar">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="opcoes-ocorrencia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opções
              </button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Nome:</strong><br> {{ user.first_name|default:"Não informado" }}</td>
            <td><strong>Sobrenome:</strong><br> {{ user.last_name|default:"Não informado" }}</td>
            <td><strong>Username:</strong><br> {{ user.username|default:"Não informado" }}</td>
            <td><strong>Email:</strong><br> {{ user.email|default:"Não informado" }}</td>
            <td><strong>Superusuário:</strong><br> {{ user.is_superuser|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="form-row">
      <div class="form -btn-actions col">
        <a href="{% url 'administracao:usuario_index' %}" class="btn btn-default"><< Voltar</a>
      </div>
    </div>
  </div>
</div>

{% include "util/paginator.html" %}
{% endblock %}