{% load static bootstrap3 core %}

{% bootstrap_form_errors form error_types="non_field_errors" %}

{{ form.media.css }}
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.first_name required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.last_name required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.username required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form_custom.telefone required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.email required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.password required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.is_superuser required_css_class="required" %}
  </div>
</div>
{{ form.media.js }}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/cliente.js' %}" charset="utf-8"></script>
{% endblock extra_js %}