{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="section-bar">
        <h1 class="title">{{ page_title }}</h1>
         <div class="action-bar">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="opcoes-processo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="opcoes-processo">
              <a class="dropdown-item" href="{% url 'administracao:usuario_create' %}">Cadastrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- search form -->
      <form class="form form-flex form-search-cerin">
        {% bootstrap_form form %}
        <div class="form-group">
          <div id="general-search-button"></div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
      <table class="table table-striped table-bordered">
        <thead>
          <th>Ações</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Username</th>
          <th>Email</th>
          <th>Administrador</th>
        </thead>
        <tbody>
          {% for usuario in object_list %}
            {% if not usuario.is_superuser %}
              <tr>
                <td>
                  <a class="btn-magnify" href="{% url 'administracao:usuario_show' usuario.pk %}" title="Ver detalhes">
                    <span class="mdi mdi-magnify mdi-18px"></span>
                  </a>
                  <a class="btn-magnify" href="{% url 'administracao:usuario_edit' usuario.pk %}" title="Editar">
                    <span class="mdi mdi-pencil mdi-18px"></span>
                  </a>
                  <a class="btn-magnify" href="javascript:usuarioDelete({{usuario.pk}});" title="Excluir">
                    <span class="mdi mdi-delete mdi-18px"></span>
                  </a>
                </td>
                <td>{{ usuario.first_name|default:"Não informado" }}</td>
                <td>{{ usuario.last_name|default:"Não informado" }}</td>
                <td>{{ usuario.username|default:"Não informado" }}</td>
                <td>{{ usuario.email|default:"Não informado" }}</td>
                <td>{{ usuario.is_superuser|default:"Não informado" }}</td>
              </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>
    <!-- Modal responsável pela confirmação
        da exclusão de um usuário -->
        <div id="myModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Você tem certeza que deseja excluir permanentemente esse usuário?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="excluirUsuario" class="btn btn-primary">Excluir</button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}

{% block extra_js %}
<script>
  $('#messageDelete').hide();
  function usuarioDelete(pk){
      $('#myModal').modal('toggle')
      $( "#excluirUsuario" ).click(function() {
        $.ajax({
          url: '/administracao/usuario/'+pk+'/excluir',
          success: function(data) {
            location.reload();
          }
        });
      });
   };
</script>
{% endblock %}