{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">Incidência Solar</h1>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <th>Mês</th>
            <th>Valor</th>
          </thead>

            {% for dado in tabela %}
              <tr>
                <td>{{ dado.descricao|default:"Não informado" }}</td>
                <td>{{ dado.valor|default:"Não informado" }}</td>
              </tr>
            {% endfor %}
           <tr>
              {% for dado in tabela|slice:":1" %}
                <td><strong>Região: </strong>{{dado.regiao}}</td>
              {% endfor %}
             <td><strong>Média: </strong>{{ incidencia_solar.media}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'configuracoes:configuracoes_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}