{% extends "clientes/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ tarifas.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Valor:</strong><br> {{ tarifas.valor|default:"Não informado" }}</td>
            <td><strong>Tipo:</strong><br> {{ tarifas.tipo|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form -btn-actions col">
      <a href="{% url 'configuracoes:tarifas_index' %}" class="btn btn-default"><< Voltar</a>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}